/* CSS declarations go here */

/*body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}*/

#map {
  margin-top:50px;
  height: 80%;
  }

.padContainer{
  padding-top:75px;
  padding-left:20px;
}
.camera-popup .photo-preview{
  width:280px;
}

.lgin{
  display:block;
  margin:0 auto;
  max-width:237px;
}

.takePic{
  margin:0 auto;
  font-size:2em;
  max-width:200px;
}
.button.button-block, .button.button-full{
  margin-top:40px;
}
